@import "tailwindcss";
/* *{
  margin: 0;
  padding: 0;
} */
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #09090B;
  color: white;
}
html{
  overflow-x: hidden;
}
.inputBox{
  display: flex;
  background-color: #27272A;
  border-radius: 5px;
}
.inputBox input{
  border-radius: 5px;
  flex: 1;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
}
.swiper-slide{
  height: calc(100vh - 140px) !important;
  border-radius: 10px !important;
}
.swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px !important;
}